/*================================ MAIN ======================================*/
html {
    height: 100%
}

body {
    background-image: url("../img/background/background.jpg");
}

#container {
    width: 100%;
    text-align: center;
}

/*============================== END MAIN ====================================*/

/*============================== CANVAS ======================================*/
canvas {
    display: inline;
    margin: 2% auto;
    background-size: 100%;
    width: 1200px;
    height: 700px;
}

canvas.level-1 {
    background-image: url("../img/background/desert_sand.jpg");
}

canvas.level-2 {
    background-image: url("../img/background/background_snow.jpg");
}

canvas.level-3 {
    background-image: url("../img/background/background_empire.jpg");
}

/*============================== END CANVAS ==================================*/

/*================================= MODAL ====================================*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-modal {
    color: #feda4a;
    text-align: center;
}

.modal-content {
    background-color: #000000;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*=============================== END MODAL ==================================*/


/*================================= HEADER ===================================*/
#container-player {
    display: flex;
    justify-content: center;
    color: #feda4a;
    align-items: center;
}

#container-player > div {
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.icon-character img {
    width: 50px;
}

#lifes {
    width: 500px;
    display: flex;
    align-items: center;
}

.icon-life img {
    width: 30px;
    left: 18px;
    position: relative;
}

.progress-bar {
    width: 100%;
    background-color: grey;
    border-radius: 0 5px 5px 0;
}

#progress-life {
    height: 15px;
    border-radius: 0 5px 5px 0;
}
/*============================= END HEADER ===================================*/
